body{
    background: linear-gradient(to right, #314755, #26a0da);
    font: normal 15pt Arial;
    
}

header{
    color: azure;
    text-align: center;
}

section{
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 500px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5px 5px 10px #183a4e ;
}
div{
    text-align: center;
    padding-top: 25px;
}
footer{
    color: azure;
    font-style: italic;
    text-align: center;
    font-size: 70%;
}